{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "script"
  },
  "env": {
    "node": true
  },
  "rules": {
    "indent": [2, 2],
    "import/no-dynamic-require": 0,
    "no-param-reassign": ["error", { "props": false }],
    "no-use-before-define": ["error", {
      "functions": false,
      "classes": false,
      "variables": false
    }],
    "no-plusplus": ["error", {
      "allowForLoopAfterthoughts": true
    }],
    "max-len": ["error", 80],
    "strict": "off",
    "no-console": "off",
    "no-restricted-syntax": [
        "error",
        {
            "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(log|warn|error|info|trace)$/]",
            "message": "Unexpected property on console object was called"
        }
    ]
  }
}
